

.page-container {
    display: flex;
   
  }
  
  .text-container {
    width: 50%; 
    padding: 20px;
  }
  
  .image-container {
    width: 50%; 
    overflow: hidden; 
    position: relative;
    height: 400px;
   
  }
  
  .slide-from-right {
    position: absolute;
    height: 500px;
    right: 0;
    animation: slideRightToLeft 5s infinite; 
  }
  
  @keyframes slideRightToLeft {
    0% {
      right: -100%;
    }
    100% {
      right: 0; 
    }
  }
  .headingpage{
    text-align: center;
    background: linear-gradient(to right,#f674f7, #9667d8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-block: 100px;
  
  }
  .headingpage2{
  margin-inline: 20px;
  background: linear-gradient(to right,#faca6b, #fe9b9a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
.ul-li{
  line-height: 40px;
}
.secondContent{
  width: 100%;
  height: 600px;
  margin-top: 300px;
  
 
}
@media (max-width: 600px) {
  .page-container {
      flex-direction: column;
      align-items: center; /* Center items horizontally */
      text-align: center; /* Center text within its container */
  }
  .Images3 {
      width: auto;
  }
  .Text3 {
      width: 90%; /* Adjust width for better fit on small screens */
      margin: 20px 0 0 0; /* Reset margins to center text below image */

  }
  .ul-li{
    font-size: small;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .page-container {
      flex-direction: column;
      align-items: center; /* Center items horizontally */
      text-align: center; /* Center text within its container */
  }
  .Images3 {
      width: auto;
  }
  .Text3 {
      width: 80%; /* Adjust width for better fit on tablet screens */
      margin: 20px 0 0 0; /* Reset margins to center text below image */
  }
  .ul-li{
    font-size: small;
  }
}

@media (min-width: 1025px) {
  .page-container {
      width: 100%;
     
  }
}