body{
    background: linear-gradient(to top, #181727,#111b25);

}

.ImageSecondMain1{
    width: 100%;
  
    
}

.ImageSec2{
    width: 900px;
    margin-inline: 100px;
    margin-block: 190px;
}
.Images1{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 40px;
   
   
   
    
}
.ImagesSub1{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    border: 1px solid black;
    /* height: 100px; */
   
    

}
.Imag1{
    line-height: 70px;
    >img{
        width: 140.31px;
height: 140px;
filter: brightness(50%);
border-radius: 10px;
opacity: 0px;

    }
}
.TextOnimag1{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
}
.CreateText{
    background: linear-gradient(to right,#faca6b, #fe9b9a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}