body{
  color: white;
 
}
.mainDiv{
  
  background: linear-gradient(to top, #2b2647,#000000);
  z-index: 1;
}
/* Media Queries for Tablet View */
@media (max-width: 1024px) {
  .mainDiv {
    padding: 20px;
  }

  .navbar, .second, .third, .movingNav, .animationPage1, .getStarted, .tokenomics {
    width: 100%;
    margin: 0;
    padding: 10px;
  }
}

/* Media Queries for Mobile View */
@media (max-width: 768px) {
  .mainDiv {
    padding: 10px;
  }

  .navbar, .second, .third, .movingNav, .animationPage1, .getStarted, .tokenomics {
    width: 100%;
    margin: 0;
    padding: 5px;
  }

  .navbar {
    flex-direction: column;
  }
}